/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30
#define COMBO_TERM_HR 15

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50
#define COMBO_IDLE_HR 200

#define HRC_TAB    &hml LS(LALT) TAB
#define HRC_REPEAT &hml_repeat LS(LCTRL) 0
#define HRC_LPAR   &hmr_lpar_lt RS(LCTRL) 0
#define HRC_RPAR   &hmr_rpar_gt RS(LALT) 0

/* Horizontal combos - left hand */
ZMK_COMBO(esc,    &esc_at,      LT3 LT2, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(dq,     &dope_quotes, LT2 LT1, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_TERM_SLOW)
ZMK_COMBO(qm,     &kp QMARK,    LT3 LT1, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_TERM_SLOW)

ZMK_COMBO(tab,    &kp TAB,      LM4 LM3, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_TERM_SLOW)
ZMK_COMBO(star,   &kp STAR,     LM3 LM1, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(equal,  &eq_ca,       LM3 LM2, DEF NAV NUM, COMBO_TERM_HR,   COMBO_IDLE_HR)
ZMK_COMBO(under,  &und_dllr,    LM2 LM1, DEF NAV NUM, COMBO_TERM_HR,   COMBO_IDLE_HR)

ZMK_COMBO(fslh_c, &fsl_col,     LB3 LB1, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(pipe,   &pi_per,      LB3 LB2, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_TERM_SLOW)
ZMK_COMBO(minus,  &minus_plus,  LB2 LB1, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_TERM_SLOW)

/* Horizontal combos - right hand */
ZMK_COMBO(gr_til,  &gra_tild, RT1 RT2, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(bspc,    &back_ha,  RT2 RT3, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(amps,    &kp AMPS,  RM3 RM1, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(lpar,    HRC_LPAR,  RM1 RM2, DEF     NUM, COMBO_TERM_HR,   COMBO_IDLE_HR)
ZMK_COMBO(rpar,    HRC_RPAR,  RM2 RM3, DEF     NUM, COMBO_TERM_HR,   COMBO_IDLE_HR)
ZMK_COMBO(lt,      &kp LT,    RM1 RM2,     NAV    , COMBO_TERM_HR,   COMBO_IDLE_HR)
ZMK_COMBO(gt,      &kp GT,    RM2 RM3,     NAV    , COMBO_TERM_HR,   COMBO_IDLE_HR)

ZMK_COMBO(bslh_sc, &bsl_scol, RB1 RB3, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(lbkt,    &lbkt_lb,  RB1 RB2, DEF     NUM, COMBO_TERM_SLOW, COMBO_TERM_SLOW)
ZMK_COMBO(rbkt,    &rbkt_gb,  RB2 RB3, DEF     NUM, COMBO_TERM_SLOW, COMBO_TERM_SLOW)
ZMK_COMBO(lbrc,    &kp LBRC,  RB1 RB2,     NAV    , COMBO_TERM_SLOW, COMBO_TERM_SLOW)
ZMK_COMBO(rbrc,    &kp RBRC,  RB2 RB3,     NAV    , COMBO_TERM_SLOW, COMBO_TERM_SLOW)

ZMK_COMBO(em,      &kp EXCL,  RT1 RT3, DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
